<!DOCTYPE html>
<html>
<head>
  <title>The Vinyl Vault</title>
</head>
<body>

  <nav>
    <a href="/">home//</a>
    <a href="/records">records//</a>
    <a href="/genres">genres//</a>
    <a href="/artists">artists//</a>
  </nav>

  <br>

  <%= yield %>
</body>
</html>