<form action="/artists/<%= @artist.id %>" method="post">

  <label for="artist-name">name:</label>
  <input id="artist-name" type="text" name="artist_name" value="<%= @artist.artist_name %>" />
  <input type="submit" value="edit" />

</form>